<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.leelah.client.tablet"
  android:versionCode="1"
  android:versionName="0.1"
  android:installLocation="auto"
>

  <uses-sdk 
    android:minSdkVersion="9"
    android:targetSdkVersion="11"
  />

  <supports-screens 
    android:requiresSmallestWidthDp="320"
    android:compatibleWidthLimitDp="480"
  />

  <!-- We need this permission, in order to access to Internet -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- We need this permission, because we write on the SD card -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- We need this permission, when geolocalizing -->
  <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission  android:name="android.permission.ACCESS_FINE_LOCATION"/-->

  <application
    android:name="LeelahApplication"
    android:label="@string/applicationName"
    android:icon="@drawable/icon"
    android:description="@string/applicationDescription"
    android:theme="@style/Theme.Leelah"
    android:hardwareAccelerated="true"
  >

    <!-- This is required in order to have Google Maps work at runtime! -->
    <!--uses-library android:name="com.google.android.maps"/-->

    <activity
      android:name=".LeelahSplashScreenActivity"
      android:configChanges="keyboardHidden|orientation"
      android:alwaysRetainTaskState="true"
      android:excludeFromRecents="true"
      android:multiprocess="true"
    />

    <activity
      android:name=".LoginActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".SettingsActivity"
      android:configChanges="keyboardHidden|orientation"
    >
      <intent-filter>
        <category android:name="android.intent.category.PREFERENCE"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".HomeActivity"
      android:configChanges="keyboardHidden|orientation"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ProductsListActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".ProductActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".ProductsActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".AboutActivity"
      android:configChanges="keyboardHidden|orientation"
    />

  </application>

</manifest>
